div{padding: 20px 5px;}
.icon{margin-left: 15px;border-style: solid;border-color:#d9d9d9;
     border-width: 2px 0px 2px 2px; float: left; border-radius: 5px 0px 0px 5px; height: 37px;}
.inp{border: 2px solid #d9d9d9; border-width: 2px 2px 2px 0px; float: left; border-radius: 0px 5px 5px 0px; height: 35px;}
a{float: left;}
*{box-sizing: border-box;}